@model ProjectManager.Models.Project

@{
	ViewData["Title"] = "Edit";
	ViewData["Subject"] = Model.ProjectName;
	ViewData["SubjectID"] = Model.ProjectID;
	ViewData["controller"] = "Projects";
	ViewData["NewItem"] = "Jobs";
}



<div class="subject-data" id="field-data">

	<h1>
		Field - @ViewData["Subject"]
	</h1>

	<table class="table-data" id="table-data-field">

		<tr class="table-row">
			<th class="data-name">
				Field ID:
			</th>

			<td class="data">
				@Model.ProjectID
			</td>

		</tr>

		<tr>

			<th class="data-name">
				Projects:
			</th>

			<td class="data">
				@Model.Jobs.Count()
			</td>

		</tr>

	</table>

</div>

<hr class="h-line" />

<!-- Sub options Area -->
<section class="sub-options" id="field-OpArea">

	<article class="sub-itemOp-area" id="sub-itemOp-area-1"
			 type="button"
			 onclick="location.href='@Url.Action("Details", "Projects")/@Model?.ProjectID'">

		<p class="sub-itemOp" id="subject-new-1">Project Details</p>

	</article>
</section>

<hr class="h-line" />


<div class="form-container">

	<form asp-action="Edit" class="grid-container">

		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<input type="hidden" asp-for="ProjectID" />

		<div class="create-grid" id="proj-edit-create-grid">

			<label asp-for="ProjectName" class="label-cell">Project Name:</label>
			<input asp-for="ProjectName" class="input-cell" />
			<span asp-validation-for="ProjectName" class="text-danger"></span>

		</div>
		<div class="create-grid" id="proj-edit-create-grid">

			<label asp-for="FieldID" class="label-cell">Field:</label>
			<select asp-for="FieldID" class="input-cell" asp-items="ViewBag.FieldID"></select>
			<span asp-validation-for="FieldID" class="text-danger"></span>

		</div>

		<div class="button-cell">
			<div class="center-cell">
				<input type="submit" value="Save" class="button-text" />
			</div>
		</div>
	</form>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
